body {
    font-family: 'Lato', sans-serif;
    background-color: azure;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

p {
    font-size: 14px;
    line-height: 1.6em;
}

.header {
    font-weight: bold;
    margin-bottom: 1em;
}

.header p {
    font-size: 22px;
}

.header a {
    color: black;
    text-decoration: none;
}

.header a:hover {
    color: darkgrey;
}

.navibar a {
    text-decoration: none;
}

.navibar a:hover {
    color: darkgrey;
}

#pluginTitle {
    font-size: 30px;
    font-weight: 600;
}

#pluginTitle a:hover {
    color: darkgrey;
}

#PiggyCustomEnchantsShop a {
    font-size: 14px;
    line-height: 1.6em;
    text-decoration: none;
}

.copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
}