body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

p {
    font-size: 14px;
    line-height: 1.6em;
}

#header {
    background-color: darkgrey;
    font-weight: bold;
    font-size: 18px;
    padding: 14px;
    border: none;
}

#header a {
    color: black;
    text-decoration: none;
}

#header a:hover {
    color: white;
}

.pluginBar {
    position: relative;
    display: inline-block;
}

.pluginBtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#pluginList {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#pluginList a {
    text-decoration: none;
    padding: 12px 16px;
    display: block;
}

#pluginList a:hover {
    color: darkgrey;
}

.pluginBar:hover #pluginList {
    display: block;
}

.pluginBar:hover .pluginBtn {
    background-color: #3e8e41;
}


#pluginTitle {
    font-size: 30px;
    font-weight: 600;
}

#pluginTitle a:hover {
    color: darkgrey;
}

#PiggyCustomEnchantsShop a {
    font-size: 14px;
    line-height: 1.6em;
    text-decoration: none;
}

.copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
}