/**
    General - all
*/

main {
    margin: 55px;
}

h1 {
    font-size: 48px !important;
    margin-bottom: 16px;
}

p {
    font-size: 18px;
}

#last-updated {
    margin-top: 10px;
    font-size: 12px;
}

/**
    Homepage - index.html
*/

.index h2 {
    margin-top: 64px;
}

.index iframe {
    width: 100%;
    max-width: 350px;
    height: 450px;
}

/**
    PiggyCrates - PiggyCrates/index.html
*/

.pc h4 {
    margin-top: 16px;
}

/**
    PiggyCustomEnchants - PiggyCustomEnchants/index.html
*/

.pce h3 {
    margin-top: 32px;
}

.pce .function {
    margin-top: 32px;
}

/**
    PiggyCustomEnchantsShop - PiggyCustomEnchantsShop/index.html
*/

.pces h3 {
    margin-top: 32px;
}

.pces h4 {
    margin-top: 16px;
}

/**
    PiggyTutorials - PiggyTutorials/index.html
 */

.pt h4 {
    margin-top: 16px;
}

/***
    Contact - Contact/index.html
 */

.contact form {
    border-style: solid;
}

.contact form div {
    margin: 15px 15px 15px 15px;
}

.contact input {
    border: none;
    border-bottom: black 2px solid;
    height: initial;
}

.contact input:hover {
    transition-duration: .5s;
    border-bottom: gray 2px solid;
}

.contact input[type=submit]:hover {
    transition-duration: 0.5s;
    background: #eaeaea;
}